<div id="img-container">
    <div ng-repeat="image in images" id="img-border">
        <span><img ng-src="{{image}}" id="instaImage" class="img-thumbnail z-depth-3"></span>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Terry Dinh</h3>
  </div>
  <div class="panel-body">
    <ul class="aboutMe-list">
      <li class=""> Food Snob </li>
      <li class=""> World Traveler </li>
      <li class=""> Ice Cream Connoisseur </li>
      <li class=""> Web Developer </li>
    </ul>
  </div>
</div>
