<div id="img-container">
    <div ng-repeat="image in images" id="img-border">
        <span><img ng-src="{{image}}" id="instaImage" class="img-thumbnail z-depth-3"></span>
    </div>
</div>

<div class="container-fluid">
<div class="row">
  <div class="col-sm-6">
    <h3 class="panel-title">Terry Dinh</h3>
    <ul class="aboutMe-list">
      <li class=""> Food Snob </li>
      <li class=""> World Traveler </li>
      <li class=""> Ice Cream Connoisseur </li>
      <li class=""> Web Developer </li>
    </ul>
</div>
  <div class="col-sm-6">
    <h3 class="contact-list panel-title">Contact Information</h3>
    <div class="contact-list">
      <p>
        Email: Tedinh@gmail.com
      </p>
      <p>
        Phone: (000)-000-0000
      </p>
      <a href="https://www.facebook.com/terry.dinh.3"><i class="fa fa-facebook-square fa-2x facebook" aria-hidden="true"></i> Facebook</a>
      <a href="https://www.linkedin.com/in/terryqdinh/"><i class="fa fa-linkedin-square fa-2x linkedin" aria-hidden="true"></i>
 LinkedIn</a>
      <a href="https://github.com/tedinh"><i class="fa fa-github-square fa-2x github" aria-hidden="true"></i> GitHub </a>

    </div>
  </div>
</div>
