<h1 class="firstTitle">THE BLOG LIFE</h1>
<div class="col-md-12">
  <p class="addHome"><button class="btn btn-primary btn-xs" ng-click="add()" type="button" name="button">Add</button></p>

  <div id="hiddenBoxes" class="col-sm-6 col-sm-4 insideHiddenBoxes">
    <div class="edit-buttons">
      <input placeholder="Insert Title" ng-model="blog.title" type="text" class="form-control title" value="">
      <textarea placeholder="What's on your mind?" ng-model="blog.post" type="text" class="form-control addTextBox" rows="3"></textarea>
      <input type="file" id="file-input">
      <img class='preview-image' ng-src="{{imageUrl}}">
      <button class="btn btn-info btn-sm addSubmit" ng-click="addPost(blog)" type="button" name="button">Submit</button>
    </div>
  </div>


  <div class="col-md-12" ng-repeat="post in posts track by post.id">

    <div class="thumbnail home-thumb">
      <img ng-src="{{post.imageurl}}" class="img-responsive">
      <div class="caption">
        <h1 class="title">{{post.title}}</h1>
        <br>
        <br>
        <p>{{post.blog_post}}</p>
        <br>
        <div class="blog-list">
          <span><a class="btn btn-primary btn-xs" role="button" ng-click="post.visible = !post.visible">Update</a></span>
          <br>

          <textarea id='textArea' ng-show="post.visible" placeholder="Insert Text" ng-model="textBox.update" type="text" class="form-control updateBox"></textarea>

          <br>
          <span class="sm-buttons" <p><a ng-show="post.visible" ng-click="updatePost({id: post.id, update: textBox.update}); textBox.update = ''" class="btn btn-info btn-xs" role="button">Submit</a></p>
              <p><a ng-show="post.visible" ng-click="deletePost(post.id)" class="btn btn-danger btn-xs" role="button">Delete</a></p>
              </span>

        </div>
      </div>
    </div>
  </div>


</div>
