#img-container {
    margin: 20px 15% 20px 15%;
    max-height: 420px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}
#instaImage {
    height: 150px;
    padding: 5px;
}

#img-border{
    margin: 10px;
    padding: 6px 8px 30px 8px;

    /*background: #e2e0e0; /*fallback colour for browsers that don't support gradients*/*/
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient( #FFB3BA, #FFDFBA , #FFFFBA, #BAFFC9, #BAE1FF); /* Standard syntax (must be last) */

/*give the Polaroids a small drop shadow*/
-webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
-moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
}

.contactBox {
  margin-bottom: 20vh;
}

textarea {
  resize: none;
}

.panel-title {
  text-decoration: underline;
}

.aboutMe-list {
  list-style-image: url('http://icons.iconarchive.com/icons/icons-land/3d-food/24/IceCream-Cone-icon.png')
}

.contact-list {
  margin-top: 14px;
  text-align: center;
}

.facebook {
  color: #3B5998;
}

.linkedin {
  color: #0077B5;
}

.github{
  color: #4A2779;
}
