.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

.blog-post{
  border-style: solid;
  border-color: black;
  text-align: center;
}

.edit-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-left: 30vw;
  margin-right: 30vw;
}

.addHome {
  list-style-type: none;
}
/*home view*/
#hiddenBoxes {
  display: none;
}

.addTextBox {
  height: 100px;
  text-align: center;
}

.blog-list {
  list-style-type: none;
  display: inline;
}

.updateBox {
  text-align: center;
  width: 300px;
  height: 150px;
  resize: none;
}

.title {
  text-align: center;
}

#updateTextBox {
  display: none;
}

.previewImg {
  height: 100px;
}
