body{
  font-family: 'Spectral';
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}


.addHome {
  list-style-type: none;
}

.firstTitle {
  font-family: "Spectral";
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}

#hiddenBoxes {
  display: none;
}


.updateBox {
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 150px;
  resize: none;
  margin-top: 20px;
  overflow: auto;
}

.edit-buttons {
  width: 400px;
  height: 170px;
}

.preview-image{
  height: 100px;
}

.previewImg {
  height: 100px;
}

.title {
  text-decoration: underline;
}

.blog-container {
  margin: 10px;
  border-style: solid;
  border-color: #c3c6c9;
}

.home-thumb {
  margin: 20px;
}

.sm-buttons {
  display: inline-block;
}

.thumbBox {
  text-align: center;
  justify-content: center;

}
.blogPic {
  text-align: center;
  align-content: center;
}

.insideHiddenBoxes {
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addSubmit {
  margin-top: 5px;
}

.img-responsive {
  height: 400px;
  margin: 0 auto;
}
